<h1>User info</h1>
<%= form_for(@user) do |f| %>
  <p>name</p>
  <%= f.text_field :name %>
  <p>image</p>
  <%= f.attachment_field :profile_image %>
  <p>introdcution</p>
  <%= f.text_area :introduction %>
  <br>
  <%= f.submit "Update User" %>
<% end %>